<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA8a_X6vo04Rm7uyQf0437OKeIQXil9lGY</string>
	<key>GCM_SENDER_ID</key>
	<string>563921810957</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.windowMeas</string>
	<key>PROJECT_ID</key>
	<string>window-measurement-app</string>
	<key>STORAGE_BUCKET</key>
	<string>window-measurement-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:563921810957:ios:f39d5e125b7c13d584c744</string>
</dict>
</plist>